.sideMenu__container {
  top: 0px;
  left: 0;
  bottom: 0px;
  position: sticky;
  border-right: 2px solid var(--color1);
  background-color: var(--color2);
  z-index: 11;
  width: 60px;
  height: 100vh;
}

.sideMenu__container-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sideMenu__container-list-item:first-of-type {
  background-color: var(--color1);
  max-width: 60px;
  height: 70px;
}

.sideMenu__container-list-item {
  display: flex;
  padding: 1rem;
  border-bottom: 2px solid var(--color1);
  /* border-right: 2px solid var(--color1); */
  cursor: pointer;
}

.sideMenu__container-list-item-icon {
  width: 20px;
  height: 20px;
}

.sideMenu__container-list-item-text {
  margin-left: 20px;
}

.darkMode__listItem {
  margin-top: auto !important;
  border-bottom: none !important;
  border-top: 2px solid var(--color1) !important;
}
