* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 200ms linear all;
}

.App {
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}

body {
  font-family: "Roboto Mono", monospace;
}

/* icons styles--start */
.cls-1 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

/* icons styles--end */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show__WhenIpad {
  display: none !important;
}

.btn_callToAction {
  border: 2px solid var(--color1);
  padding: 0.5rem 0.6rem;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--color1);
  font-size: 1rem;
  transition: 100ms linear all;
}

.btn_callToAction:hover {
  color: var(--color2);
  background-color: var(--color1);
}

@media only screen and (max-width: 768px) {
  .hide__WhenIpad {
    display: none !important;
  }
  .show__WhenIpad {
    display: block !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --iPadWidth: 768px;
  --color1: #000000;
  --color2: #ffffff;
}
